.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container a {
    text-decoration: none;
}

.card {
    background-color: var(--panel-color);
    width: 285px;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-button {
    width: 200px;
    height: 50px;
    background-color: #FF6E31;
    color: white;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.card-button:hover {
    background-color: #b64b4b;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}
